.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.display {
  width: 25%;
  border: 1px solid;
  border-radius: 5px;
  padding: 9px 11px;
  font-size: large;
}

.add {
  margin-left: 30px;
  background-color: #2395b475;
  border: 1px solid rgb(46, 114, 119);
  border-radius: 3px;
  padding: 10px 25px;
  font-size: medium;
  color: rgb(8, 13, 75);
}

.task-list {
  width: 35%;
  border: 1px solid rgb(46, 114, 119);
  font-size: large;
  background-color: #2395b475;
  margin: 50px auto;
}

.completed-task {
  width: 35%;
  border: 1px solid rgb(46, 114, 119);
  font-size: large;
  background-color: #2395b475;
  margin: 50px auto;
}


.task-list-header {
  justify-content: start;
  padding-left: 10px;
  margin: 10px;
}

.tast-list-item {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
  border: 1px solid;
}

.input-feild {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.done-img {
  width: 20px;
  height: 25px;
  padding-left: 5px;
}

.task-name {
  font-size: small;
  width: 390px;
  word-break: break-all;
}

input {
  width: 390px;
}

.completed-task-name {
  width: 405px;
  word-break: break-all;
  font-size:small ;
}